button
{
    width:100px;
    height:100px;
    border-radius: 50%;

    font-size: 2.5rem;
    background-color:#2f2f2f;
    border-color: hsla(0, 0%, 1%, 0.319);
    border-width: 2px;
    color:white;

    transform: none;
    transition: transform 100ms ease-out, background-color 200ms ease-in-out;

}
#keys
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding:25px;
    background-color: black;
}

body
{
    margin:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;

}
#display
{
    height: 200px;

    border:none;
    background-color: black;
    color:rgb(255, 255, 255);
    text-align: right;

    padding: 10%;
    font-size: 2.5rem;
}
#calculator
{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7%;
    max-width: 500px;
    overflow: hidden;
}
.ActionButton{
    background-color: #5A5A5A;
}
.OperatorButton{
    background-color: #F09133;
}

button:active{
    transform: scale(110%);
    background-color: #afadad;
}
.OperatorButton:active{
    background-color: #f7a166;
}
.ActionButton:active{
    background-color: #7c7a7a;
}
