button
{

    width: clamp(50px, 20vw, 100px);
    height: clamp(50px, 20vw, 100px);
    font-size: clamp(1.5rem, 5vw, 3rem);

    border-radius: 50%;
    border:none;

    background-color: blanchedalmond;
    color:darkblue;
    font-weight: bold;

    cursor: pointer;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator{
    font-family:Arial, Helvetica, sans-serif;
    background-color:khaki;

    border-radius: 6%;
    max-width: 500px;
    overflow: hidden;
}
#display
{
    width:100%;
    padding: 5%;
    font-size: clamp(2rem, 8vw, 5rem);
    text-align: left;
    border: none;
    background-color:rgb(252, 244, 171);

    color:rgb(122, 6, 6);
    overflow: scroll;
}
body{
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:rgb(255, 243, 235) ;
}

button:hover
{
    background-color: rgb(253, 211, 148);
    transform:scale(105%)

}
button:active
{
    background-color: rgb(255, 213, 150);
    transform:scale(90%)
}
.operator-btn{
    background-color: coral;
}
.operator-btn:hover
{
    background-color: rgb(209, 84, 38);
}
